#doneProcess {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    padding: 0px 20px;
    width: calc(100% - 40px);
}

.doneNoData {
    display: block;
    margin: 0 20px 12px 20px;
    width: calc(100% - 76px);
    font-size: 14px;
    font-weight: 500;
    color: var(--col-gray-5);
    box-shadow: none;
}


#doneProcess .thumb {
    display: block;
    width: 48px;
    height: 48px;
    background: var(--col-gray-1);
    border: 1px solid var(--col-gray-2);
    border-radius: 4px;
}

#doneProcess .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#doneProcess .info .songName {
    font-size: 20px;
    font-weight: 600;
    color: var(--col-black);
}

#doneProcess .info .singerName {
    font-size: 12px;
    font-weight: 500;
    color: var(--col-gray-5);
}

#doneProcess .func {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

#doneProcess .func img {
    width: 16px;
    height: 16px;
}