#musicItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: calc(100% - 40px);
    padding: 8px 20px;
}

#musicItem:hover {
    background: var(--col-gray-1);
}

#musicItem .no {
    margin-right: 8px;
    font-size: 12;
    font-weight: 500;
    color: var(--col-black);
}

#musicItem .thumb {
    display: block;
    width: 48px;
    height: 48px;
    background-color: var(--col-gray-3);
    border: 1px solid var(--col-gray-2);
    border-radius: 4px;
}

#musicItem .rank {
    width: 36px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#musicItem .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#musicItem .info .songName {
    font-size: 16px;
    font-weight: 500;
    color: var(--col-black);
}

#musicItem .info .singerName {
    font-size: 12px;
    font-weight: 600;
    color: var(--col-gray-5);
}