#newCover {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#newCover .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    margin-bottom: 12px;
    padding: 0 24px;
    width: calc(100% - 48px);
}

#newCover .header .title {
    flex: 1;
    font-size: 20px;
    font-weight: 700;
}

#newCover .body {
    width: 100%;
    max-width: 100%;
    overflow: scroll;
}

#newCover .body::-webkit-scrollbar {
    display: none;
}

#newCover .body .list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0 16px;
}

#newCover .body .list .item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#newCover .body .list .item .thumb {
    width: 154px;
    height: 154px;
    background: #CCCCCC;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    overflow: hidden;
}

#newCover .body .list .item .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc(100% - 12px);
    margin: 0 6px;
}

#newCover .body .list .item .info .songName {
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--col-black);
    font-size: 16px;
    font-weight: 400;
}

#newCover .body .list .item .info .singerName {
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 500;
    color: var(--col-gray-5)
}