@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('./Fonts/woff2/Pretendard-Black.woff2') format('woff2'), url('./Fonts/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('./Fonts/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('./Fonts/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('./Fonts/woff2/Pretendard-Bold.woff2') format('woff2'), url('./Fonts/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('./Fonts/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('./Fonts/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('./Fonts/woff2/Pretendard-Medium.woff2') format('woff2'), url('./Fonts/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('./Fonts/woff2/Pretendard-Regular.woff2') format('woff2'), url('./Fonts/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('./Fonts/woff2/Pretendard-Light.woff2') format('woff2'), url('./Fonts/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('./Fonts/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('./Fonts/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('./Fonts/woff2/Pretendard-Thin.woff2') format('woff2'), url('./Fonts/woff/Pretendard-Thin.woff') format('woff');
}

:root {
    --col-primary: #3F3FF5;
    --col-white: #FFFFFF;
    --col-gray-1: #F3F3F3;
    --col-gray-2: #E5E5E5;
    --col-gray-3: #D1D1D5;
    --col-gray-4: #B5B5B5;
    --col-gray-5: #A3A3A3;
    --col-gray-6: #777777;
    --col-gray-7: #484848;
    --col-black: #181818;
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    font-family: "Pretendard";

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
}

.btn-white-border {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px 20px 20px;
    padding: 12px 16px;
    width: calc(100% - 40px);
    background: var(--col-white);
    border: 1px solid var(--col-gray-4);
    border-radius: 100px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--col-black);
    transition: background .1s, border .1s;
}

.btn-white-border:hover,
.btn-white-border:focus {
    width: calc(100% - 40px);
    background: var(--col-primary);
    border: 1px solid var(--col-primary);
    font-weight: 600;
    color: var(--col-white);
}